{% extends 'base.twig' %}

{% block title %} ADD - {{ 'Homepage'|trans }} {% endblock %}
{% block content %}
    <h3> {{ 'Homepage'|trans }} </h3>
    Witaj w serwisie ADD! Aby zobaczyć ogłoszenia, wybierz "Ogłoszenia" w menu.
{% endblock %}